{>page/}
{<content}
   <div class="border body">
      <form action="/posts" method="post">
         <header>
            <h3>Create Post</h3>
         </header>
         <label for="key">Key:</label>
         <input id="key" name="key" type="text"/>
         <label for="title">Title:</label>
         <input id="title" name="title" type="text"/>
         <label for="date">Date:</label>
         <input id="date" name="date" type="text"/>
         <textarea name="content" rows="3" colums="20" max-length="140" wrap="soft"></textarea>
         <button>Create</button>
      </form>
   </div>
   {/content}