<div class="page">
   <div class="section">
      <a href = "#createItem" onclick="resource.createForm('/resource/model/create/item', '{name}')" class="border link button">Create new {name}</a>
   </div>
   <table class="data">
      <thead>
         <tr>
            <th scope="col">ID</th>
            <th scope="col">Content</th>
            <th scope="col" colspan="2">Action</th>
         </tr>
      </thead>
      <col id="title"/>
      <col id="date"/>
      <col id="content"/>
      <tbody>
         {#data}
         <tr>
            <td>
               {_id}
            </td>                     
            <td>
               {#forEachAttr}{~n}{key}: {value}{/forEachAttr}
            </td>
            <td>
               <a href='#update' onclick="resource.updateForm('/resource/model/update/item', '{name}', {?_id}{_id:'{_id}'}{/_id}{?id}{id:'{id}'}{/id})" class="link button">Edit</a>
            </td>   
            <td>
               <a href = "#" onclick = "resource['delete']('/resource/item', '{name}', {?_id}{_id:'{_id}'}{/_id}{?id}{id:'{id}'}{/id})" class="link button">Delete</a>
            </td>                     
         </tr>
         {/data}
      </tbody>
   </table>
</div>