<div class="page">
   <form>
      <header>
         <h3>Update Post</h3>
      </header>
      <label for="key">Key:</label>
      <input id="key" name="key" type="text" value="{form.item.key}" readonly="readonly"/>
      <label for="title">Title:</label>
      <input id="title" name="title" type="text" value="{form.item.title}"/>
      <label for="date">Date:</label>
      <input id="date" name="date" type="text" value="{form.item.date}"/>
      <textarea name="content" rows="3" colums="20" max-length="140" wrap="soft">{form.item.content}</textarea>       
      <button onclick="resource.update('{url}', '{context}', {key:'{form.item.key}'})" type="button">Save</button>
   </form>
</div>