{>page/}
{<page_script}
<script src="/script/core.js" type="text/javascript"></script>
   <script src="/script/ajax.js" type="text/javascript"></script>
   <script src="/script/dom.js" type="text/javascript"></script>
   <script type="text/javascript">
      function deleteResource(key) {
         if (window.confirm('Are you sure to delete ' + key + '?')) {
            sps.AJAX.delete({
               url: '/resource/post/key/' + key,
               onSuccess: function(data) {
                  alert(data);
                  window.location.reload(true);
               },
               onError: function(data) {
                  alert('Connection with server has failed!')
               }
            });            
         }
      }
   </script>
   {/page_script}
   {<title}<title>Posts</title>{/title}
      {<content}
         <div class="page">
            <div class="section">
               <a href="/resource/add/post" class="border link button">Add Post</a>            
            </div>
            <table class="data">
               <thead>
                  <tr>
                     <th scope="col">Title</th>
                     <th scope="col">Date</th>
                     <th scope="col">Content</th>
                     <th scope="col" colspan="2">Action</th>
                  </tr>
               </thead>
               <col id="title"/>
               <col id="date"/>
               <col id="content"/>
               <tbody>
                  {#.}
                  <tr>
                     <td>
                        {title}
                     </td>
                     <td>
                        <time datetime="{date}" class="byline"><{date}></time>
                     </td>
                     <td>
                        {content}
                     </td>
                     <td>
                        <a href="/resource/edit/post/key/{key}" class="link button">Edit</a>
                     </td>
                     <td>
                        <a href="#" onclick="deleteResource('{key}')" class="link button">Delete</a>
                     </td>
                  </tr>
                  {/.}
               </tbody>
            </table>
         </div>
         {/content}