{>page/}
{<page_script}
   <script src="/script/core.js" type="text/javascript"></script>
   <script src="/script/ajax.js" type="text/javascript"></script>
   <script src="/script/dom.js" type="text/javascript"></script>
   <script type="text/javascript">
      function createResource(url) {
         var data = {};
         data.collection = "{name}";
         data.content = sps.Controls.toObject();
         sps.AJAX.post({
            url: url,
            content: data,
            onSuccess: function(data) {
               alert(data);
               window.location = "/resource/list/{name}"
            },
            onError: function(data) {alert('Problem!')}
         });
      };
   </script>
   {/page_script}
{<content}
   <div class="page">
      <form action="/resource/post" method="post">
         <header>
            <h3>Create Post</h3>
         </header>
         <label for="key">Key:</label>
         <input id="key" name="key" type="text"/>
         <label for="title">Title:</label>
         <input id="title" name="title" type="text"/>
         <label for="date">Date:</label>
         <input id="date" name="date" type="text"/>
         <textarea name="content" rows="3" colums="20" max-length="140" wrap="soft"></textarea>
         <button onclick="createResource('/resource/item')" type="button">>Create</button>
      </form>
   </div>
   {/content}