<div class="page">
   <form>
      <header class="section center">
         <label class="inline">Database:</label>
         <h2 class="inline">{dbName}</h2>
      </header>
      <table class="data">
         <caption>Strings</caption>         
         <thead>
            <tr>
               <th scope="col">Key</th>
               <th scope="col">Value</th>
               <th scope="col" colspan="3">Action<a href = "#create-string" onclick="resource.createForm('/resource/model/create/string')" class="float-right link button">Create</a>
               </th>
            </tr>
         </thead>
         <col id="entity-name"/>
         <col id="actions"/>
         <tbody>
            {#strings}
            <tr>
               <td>{key}</td>
               <td>{value}</td>
               <td>
                  <a href = "#rename" onclick="resource.updateForm('/resource/model/update/key', '{key}')" class="link button">Rename</a>
               </td>
               <td>
                  <a href='#edit' onclick="resource.updateForm('/resource/model/update/string', '{key}', '{key}')" class="link button">Edit</a>
               </td>
               <td>
                  <a href = "#" onclick = "resource['delete']('/resource/key', '{key}')" class="link button">Delete</a>
               </td>
            </tr>
            {/strings}
         </tbody>
      </table>
      <table class="data">
         <caption>Lists</caption>
         <thead>
            <tr>
               <th scope="col">Key</th>
               <th scope="col" colspan="3">Action<a href = "#create-list" onclick="resource.createForm('/resource/model/create/list')" class="float-right link button">Create</a>
               </th>
            </tr>
         </thead>
         <col id="entity-name"/>
         <col id="actions"/>
         <tbody>
            {#lists}
            <tr>
               <td>{key}</td>
               <td>
                  <a href = "#rename" onclick="resource.updateForm('/resource/model/update/key', '{key}')" class="link button">Rename</a>
               </td>
               <td>
                  <a href='#edit' onclick="resource.view('/view/elements/list/{key}')" class="link button">Edit</a>
               </td>
               <td>
                  <a href = "#" onclick = "resource['delete']('/resource/key', '{key}')" class="link button">Delete</a>
               </td>
            </tr>
            {/lists}
         </tbody>
      </table>
      <table class="data">
         <caption>Sets</caption>         
         <thead>
            <tr>
               <th scope="col">Key</th>
               <th scope="col" colspan="3">Action<a href = "#create-set" onclick="resource.createForm('/resource/model/create/set')" class="float-right link button">Create</a>
               </th>
            </tr>
         </thead>
         <col id="entity-name"/>
         <col id="actions"/>
         <tbody>
            {#sets}
            <tr>
               <td>{key}</td>
               <td>
                  <a href = "#rename" onclick="resource.updateForm('/resource/model/update/key', '{key}')" class="link button">Rename</a>
               </td>
               <td>
                  <a href='#edit' onclick="resource.view('/view/elements/set/{key}')" class="link button">Edit</a>
               </td>
               <td>
                  <a href = "#" onclick = "resource['delete']('/resource/key', '{key}')" class="link button">Delete</a>
               </td>
            </tr>
            {/sets}
         </tbody>
      </table>
      <table class="data">
         <caption>Sorted Sets</caption>         
         <thead>
            <tr>
               <th scope="col">Key</th>
               <th scope="col" colspan="3">Action<a href = "#create-zset" onclick="resource.createForm('/resource/model/create/zset')" class="float-right link button">Create</a>
               </th>
            </tr>
         </thead>
         <col id="entity-name"/>
         <col id="actions"/>
         <tbody>
            {#zsets}
            <tr>
               <td>{key}</td>
               <td>
                  <a href = "#rename" onclick="resource.updateForm('/resource/model/update/key', '{key}')" class="link button">Rename</a>
               </td>
               <td>
                  <a href='#edit' onclick="resource.view('/view/elements/zset/{key}')" class="link button">Edit</a>
               </td>               
               <td>
                  <a href = "#" onclick = "resource['delete']('/resource/key', '{key}')" class="link button">Delete</a>
               </td>
            </tr>
            {/zsets}
         </tbody>
      </table>
      <table class="data">
         <caption>Hashs</caption>         
         <thead>
            <tr>
               <th scope="col">Key</th>
               <th scope="col" colspan="3">Action<a href = "#create-hash" onclick="resource.createForm('/resource/model/create/hash')" class="float-right link button">Create</a></th>
            </tr>
         </thead>
         <col id="entity-name"/>
         <col id="actions"/>
         <tbody>
            {#hashs}
            <tr>
               <td>{key}</td>
               <td>
                  <a href = "#rename" onclick="resource.updateForm('/resource/model/update/key', '{key}')" class="link button">Rename</a>
               </td>
               <td>
                  <a href='#edit' onclick="resource.view('/view/elements/hash/{key}')" class="link button">Edit</a>
               </td>               
               <td>
                  <a href = "#" onclick = "resource['delete']('/resource/key', '{key}')" class="link button">Delete</a>
               </td>
            </tr>
            {/hashs}
         </tbody>
      </table>
   </form>
</div>